.forecast-card {
  gap: 1.5rem;
  display: grid;
  padding: 1.5rem;
  justify-items: center;
  grid-template-columns: 1fr;
  border: var(--border-style);
  border-radius: var(--border-radius-40);
  grid-template-rows: repeat(6, max-content);
  background-color: rgba(255, 255, 255, 0.05);
}

.forecast-data-container {
  gap: 0.25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.forecast-date {
  font-weight: var(--font-weight-semibold);
}

.forecast-weather-icon {
  width: 4rem;
  height: 4rem;
  display: flex;
}

.forecast-temp {
  font-size: 2.488rem;
  color: var(--grey-400);
  font-weight: var(--font-weight-extralight);
}

.forecast-card-title {
  color: var(--grey-500);
}
