header {
  display: grid;
  margin: 0 2.5rem;
  align-items: center;
  grid-template-rows: 1fr;
  padding: 1.5rem 0 1rem 0;
  grid-template-columns: 1fr 2fr 1fr;
  border-bottom: var(--border-style);
}

.logo {
  margin: 0;
  font-size: 1.44rem;
  font-weight: var(--font-weight-semibold);
}

.logo span {
  font-weight: var(--font-weight-extralight);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: transparent;
  border-radius: var(--border-radius-100);
  -webkit-text-fill-color: var(--body-font-colour);
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid var(--grey-600);
}

.unit-pref-container {
  gap: 1.5rem;
  display: flex;
  justify-self: end;
}

.celcius-container,
.fahrenheit-container {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}
