input[type="radio"] {
  margin: 0;
  padding: 0;
  width: 0.875rem;
  appearance: none;
  height: 0.875rem;
  border: 0.125rem solid var(--grey-50);
  border-radius: var(--border-radius-100);
}

input[type="radio"]:checked {
  border: 0.313rem solid var(--grey-50);
}

input[type="radio"]:hover {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: transparent;
  border-radius: var(--border-radius-100);
  -webkit-text-fill-color: var(--body-font-colour);
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid var(--grey-600);
}
