.search-overlay-container {
  top: 0;
  left: 0;
  gap: 1rem;
  opacity: 1;
  width: 100vw;
  z-index: 999;
  height: 100vh;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-out;
  background-color: var(--grey-900);
  background: radial-gradient(circle, rgba(38, 38, 38, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.search-overlay-container .logo {
  font-size: 2.5rem;
}

#search-overlay-form {
  width: 60vw;
}

#search-overlay-input {
  border: 0.063rem solid transparent;
}

#search:-webkit-autofill,
#search-overlay-input:-webkit-autofill {
  border: 0.063rem solid var(--grey-600);
}

#search-overlay-input:focus,
#search-overlay-input:focus-within {
  border: 0.063rem solid var(--grey-600);
}

#search-header-form,
#search-overlay-form {
  display: flex;
  position: relative;
  background-color: var(--grey-800);
  border-radius: var(--border-radius-100);
}

#search,
#search-overlay-input {
  width: 100%;
  border: none;
  height: 100%;
  font-size: 1rem;
  color: var(--grey-50);
  padding: 0.875rem 1rem;
  background-color: transparent;
}

#search:focus,
#search-overlay-input:focus {
  outline: none;
  border-radius: inherit;
  background-color: var(--grey-900);
}

#search-button,
#overlay-search-button {
  top: 0;
  right: 0;
  height: 100%;
  position: absolute;
  color: var(--grey-100);
  background: transparent;
  width: var(--search-bar-height);
  border-left: var(--border-style);
}

#search-button:hover,
#overlay-search-button:hover {
  background-color: var(--grey-700);
  border-top-right-radius: var(--border-radius-100);
  border-bottom-right-radius: var(--border-radius-100);
}

#search-button i,
#overlay-search-button i {
  right: 0.125rem;
  font-size: 1rem;
  position: relative;
  color: var(--grey-100);
}

#clear-button,
#overlay-clear-button {
  top: 0;
  height: 100%;
  right: 2.875rem;
  font-size: 1.2rem;
  position: absolute;
  background: transparent;
  width: var(--search-bar-height);
}

#clear-button:hover,
#overlay-clear-button:hover {
  background-color: var(--grey-700);
}

#clear-button i,
#overlay-clear-button i {
  color: var(--grey-100);
}

#search::-webkit-search-cancel-button,
#search-overlay-input::-webkit-search-cancel-button {
  display: none;
}
