.forecast-weather-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.forecast-card-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  gap: 0.5rem;
}

.forecast-weather-container h2 {
  font-size: 1.44rem;
}
