.forecast-weather-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.seven-day-forecast-container {
  gap: 0.5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
}

.hourly-forecast-container {
  gap: 0.5rem;
  display: grid;
  overflow-x: scroll;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  scrollbar-color: var(--grey-400) transparent;
  grid-template-columns: repeat(auto-fit, 150px);
}
