.home-container {
  display: grid;
  justify-content: center;
  gap: 4rem;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 1fr;
  padding-bottom: 2.5rem;
}

.home-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 10rem 0;
  text-align: center;
}

.home-hero::before {
  content: url("./home-hero.jpg");
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.benefits {
  display: grid;
  gap: 2.5rem;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding: 0 2.5rem;
}

.menu {
  display: grid;
  justify-content: center;
  gap: 4rem;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(45vw, auto));
  padding: 0 2.5rem;
}

.menu-left-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.menu-right-col {
  overflow: hidden;
}

.menu-right-col img {
  width: auto;
  height: 100%;
}

.bookings {
  display: grid;
  justify-content: center;
  gap: 4rem;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(45vw, auto));
  padding: 0 2.5rem;
}

.booking-left-col {
  overflow: hidden;
}

.booking-left-col img {
  width: auto;
  height: 100%;
}

.booking-right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.opening-times {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
