.our-menu-container {
  display: grid;
  justify-content: center;
  gap: 4rem;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 1fr;
  margin: 2.5rem 1rem;
}

.our-menu-container h3 {
  font-size: 1.25rem;
}

.lunch,
.dinner,
.desserts {
  display: grid;
  gap: 6rem;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 60vw;
}

.lunch-left-col,
.dinner-left-col,
.desserts-left-col {
  display: grid;
  gap: 2rem;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr;
}

.lunch,
.dinner {
  padding-bottom: 2.5rem;
  border-bottom: 0.063rem solid rgba(255, 255, 255, 0.2);
}

.our-menu-container h3,
.our-menu-container p {
  margin-bottom: 0.5rem;
}

.price {
  font-style: italic;
}
